@use './_variables.scss' as vars;

.ganre {
    margin: 60px 0 200px;

    &__heading {
        font-family: vars.$font-family-bold;
        font-weight: vars.$font-weight-bold;
        font-size: 48px;
        line-height: 56px;
        color: vars.$title-color;
        margin: 0;
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        gap: 64px 40px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        position: relative;
        max-width: 290px;
        height: 304px;
        border-radius: 24px;
        box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 84px;
            width: 290px;
            background-color: #0A0B0B;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            z-index: 999;
        }
    }

    &__title {
        position: absolute;
        left: 50%;
        bottom: 1%;
        font-family: vars.$font-family-bold;
        font-weight: vars.$font-weight-bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: vars.$title-color;
        text-transform: capitalize;
        transform: translate(-50%);
        z-index: 1000;
    }


    &__img {
        position: relative;
        width: 290px;
        max-width: 290px;
        height: 304px;
        overflow: hidden;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    @media(max-width: 1350px) {

        &__item {
            width: 270px;

            &::after {
                width: 270px;
            }
        }

        &__img {
            width: 270px;
        }
    }

    @media(max-width: 920px) {
        &__list {
            grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
            gap: 64px 26px;
        }

        &__item {
            width: 230px;

            &::after {
                width: 230px;
            }
        }

        &__img {
            width: 230px;
        }
    }

    @media(max-width: 760px) {
        &__list {
            grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
            gap: 64px 26px;
        }

        &__title {
            font-size: 18px;
        }

        &__item {
            width: 200px;

            &::after {
                width: 200px;
            }
        }

        &__img {
            width: 200px;
        }
    }

    @media(max-width: 480px) {
        & {
            margin: 24px 0 65px;
        }

        &__list {
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 24px;
        }

        &__heading {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 39px;
        }

        &__title {
            left: 58%;
            font-size: 24px;
        }

        &__item {
            width: 335px;

            &::after {
                width: 335px;
            }
        }

        &__img {
            width: 335px;
            max-width: 335px;
        }
    }
}