@use './variables' as vars;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    gap: 80px;

    &__logo {
        max-width: 143px;
        margin: 0;
    }

    &__info-wrap {
        display: flex;
        flex-direction: row;
        gap: 80px;
        align-items: center;
        width: 100%;
    }

    &__wrap-links {
        width: 100%;
        max-width: 995px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-family: vars.$font-family-refular;
        font-weight: vars.$font-weight-regular;
        font-size: 24px;
        line-height: 32px;
        color: vars.$title-color;
        padding-bottom: 8px;
        border-bottom: none;
        transition: box-shadow 0.3s ease;

        &:hover,
        &:focus {
            box-shadow: inset 0 -1.5px 0 0 #DC5DFC;
        }

        &:active {
            color: vars.$hover-color-text;
            box-shadow: none;

            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }

    &__ganre {
        display: none;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
    }

    &__account {
        display: none;
    }

    @media(max-width: 1130px) {
        &__link--main {
            display: none;
        }
    }

    @media(max-width: 1040px) {
        & {
            gap: 20px;
        }

        &__info-wrap {
            gap: 30px;
        }
    }

    @media(max-width: 930px) {
        &__wrap-links {
            gap: 20px;
        }
    }

    @media(max-width: 780px) {
        &__link--ganre {
            display: none;
        }

        &__ganre {
            display: flex;
        }

    }

    @media(max-width: 560px) {
        & {
            padding: 18px 0 11px 0;
            gap: 0;
        }

        &__logo {
            max-width: 80px;
            margin-right: auto;
        }

        .header__input-logo {
            cursor: pointer;
        }

        &__info-wrap {
            gap: 20px;
            width: unset;
        }

        &__wrap-links {
            width: unset;
            max-width: unset;
            gap: 20px;

        }

        &__link {
            display: none;
        }

        &__account {
            display: flex;
            height: 24px;
            width: 24px;
        }
    }
}