@use './_variables.scss' as vars;

.film-info {
    margin: 0 0 163px;

    @media(max-width: 560px) {
        & {
            margin: 0 0 56px;
        }
    }
}

.film {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin: 29px 0;

    &__wrap-left {
        width: 580px;
        max-width: 580px;
        display: flex;
        flex-direction: column;
        padding-top: 73px;
    }

    &__wrap-basic-data {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &__text {
        font-family: vars.$font-family-refular;
        font-weight: vars.$font-weight-regular;
        font-size: 18px;
        line-height: 24px;
        color: vars.$descr-color;
    }

    &__rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-family: vars.$font-family-bold;
        font-weight: vars.$font-weight-bold;
        font-size: 18px;
        line-height: 24px;
        color: vars.$title-color;
        padding: 4px 12px;
        border-radius: 16px;
    }

    &__wrap-main-data {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 60px;
    }

    &__title {
        font-family: vars.$font-family-bold;
        font-weight: vars.$font-weight-bold;
        font-size: 48px;
        line-height: 56px;
        color: vars.$title-color;
        margin: 0;
        padding: 0;
    }

    &__descr {
        font-family: vars.$font-family-refular;
        font-weight: vars.$font-weight-regular;
        font-size: 24px;
        line-height: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        color: vars.$descr-color;
        margin: 0;
        padding: 0;
    }

    &__button {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 14px;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__wrap-right {
        width: 680px;
        max-width: 680px;
        height: 552px;
        overflow: hidden;
        border-radius: 16px;
    }

    &__favourite-film {
        width: 68px;
        height: 56px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: 22px;
            top: 18px;
            background-image: url(../img/svg/heart.svg);
            background-repeat: no-repeat;
        }

        &.active::before {
            background-image: url(../img/svg/heart-active.svg);
        }
    }

    &__random-film {
        width: 68px;
        height: 56px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: 22px;
            top: 18px;
            background-image: url(../img/svg/random.svg);
            background-repeat: no-repeat;
        }
    }

    @media(max-width: 940px) {
        & {
            flex-direction: column-reverse;
            gap: 40px;
        }

        &__wrap-right {
            width: unset;
            max-width: unset;
        }

        &__poster {
            width: 100%;
        }

        &__wrap-left {
            width: 100%;
            max-width: 100%;
            padding-top: 0;
        }
    }

    @media(max-width: 560px) {

        & {
            gap: 20px;
            margin: 0;
        }

        &__wrap-right {
            height: unset;
        }

        &__poster {
            height: 310px;
            border-radius: 16px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }

        &__wrap-main-data {
            gap: 11px;
            margin-bottom: 31px;
        }

        &__wrap-basic-data {
            margin-bottom: 13px;
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
        }

        &__descr {
            font-size: 18px;
            line-height: 24px;
            -webkit-line-clamp: 2;
        }

        &__trailer {
            width: 100%;
        }

        &__trailer-one-film {
            width: 251px;
        }

        &__button {
            gap: 16px;
        }

        &__icon {
            width: 24px;
            height: 24px;
        }

        &__favourite-film {
            width: 68px;
            height: 56px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 22px;
                top: 18px;
                background-image: url(../img/svg/heart.svg);
                background-repeat: no-repeat;
            }

            &.active::before {
                background-image: url(../img/svg/heart-active.svg);
            }
        }

        &__random-film {
            width: 68px;
            height: 56px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 22px;
                top: 18px;
                background-image: url(../img/svg/random.svg);
                background-repeat: no-repeat;
            }

        }

        &__poster-one-film {
            width: 334px;
            height: 260px;
        }
    }

    @media(max-width: 400px) {
        &__poster {
            height: 234px;
        }

        &__poster-one-film {
            width: 334px;
            height: 260px;
        }
    }
}