.social-links {
    margin: 0 0 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: auto;
    gap: 24px;

    &__item {
        width: 36px;
        height: 36px;
        color: #555;
        transition: color 0.3s;
    }

    &__icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
    }

    @media (max-width: 560px) {
        & {
            justify-content: flex-start;
            gap: 13px;
        }

        &__icon {
            width: 24px;
            height: 24px;
        }
    }
}