// Colors
$title-color: #FFFFFF;
$descr-color: rgba(255, 255, 255, 0.7);
$default-color-btn-dark: #393B3C;
$default-color-btn: #FFFFFF;
$disable-color-btn: #747474;
$hover-color-btn: #67A5EB;
$hover-disable-color-btn: #45526E;
$disable-color: rgba(255, 255, 255, 0.5);
$hover-color-text: #B4A9FF;
$error-color: #FF7575;
$descr-color-dark: #000000;
$link-hover-color: #DC5DFC;


// Fonts
$font-family-refular: 'PlayRegular', sans-serif;
$font-family-bold: 'PlayBold', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;